@using FinalPrject.Models.TraineeVm
@model TraineeCreateVm
@{
    Layout = "";
}
<!Doctype html>
<html>

<head>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


</head>
<body>
    <form method="Post">
        <div class="Container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="DepartmentId" class="col-md-2">Departments</label>
                        <div class="col-md-10">
                            <select asp-for="DepartmentId" asp-items="@Model.DepartmentLookUpData">
                                <option>Select....</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Name" class="col-md-2"></label>
                        <div class="col-md-6">
                            <input asp-for="Name" type="text" class="form-control"  />
                        </div>
                        <div id="Name_Error_Message" class="col-md-4">

                        </div>

                    </div>
                    <div class="form-group row">
                        <label asp-for="RegNo" class="col-md-2"></label>
                        <div class="col-md-6">
                            <input asp-for="RegNo" type="text" class="form-control"  />
                        </div>
                        <div id="RegNo_Error_Message" class="col-md-4">

                        </div>

                    </div>
                    <div class="form-group row">
                        <label asp-for="Email" class="col-md-2"></label>
                        <div class="col-md-6">
                            <input asp-for="Email" type="text" class="form-control"  />
                        </div>
                        <div id="Email_Error_Message" class="col-md-4">

                        </div>

                    </div>
                    <div class="form-group row">
                        <label asp-for="Address" class="col-md-2"></label>
                        <div class="col-md-6">
                            <input asp-for="Address" type="text" class="form-control"  />
                        </div>
                        <div id="Address_Error_Message" class="col-md-4">

                        </div>

                    </div>
                    <div class="form-group row">


                        <input type="submit" value="Save" class="btn btn btn-success" />

                    </div>
                </div>
            </div>
        </div>
    </form>
    <div id="div_trainilist">
        <table class="table table-bordered table-hover table-responsive table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>RegNo</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trainee in Model.TraineeList)
                {
                    <tr>
                        <td>@trainee.Name</td>
                        <td>@trainee.RegNo</td>
                        <td>@trainee.Email</td>
                        <td>@trainee.Address</td>
                        <td>@trainee.Department.DeptName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/Project/Trainee_Entry.js"></script>

</body>
</html>

